<div class="container dashb">
	<div class="row w-100 mt-5 mb-5">
    <div class="col-12">
			<h2 class="w-max-content pb-1 font-30 color_1 text-left family-title-master mb-5 border-b-primary border-w-3 d-flex align-items-center mx-auto mx-md-0">
				<i class="fas fa-wrench fa-xs color_2 px-2"></i>
				{{dashboard.pageTitle}}
			</h2>
		</div>

		<div class="col-6 col-md-4 col-lg-3 col-xl-2 dashb-card">
			<a href="{{registros.myLink}}">
				<div>
					<i class="fas fa-file-alt fa-5x"></i>
					<h3 class="font-16 text-center font-weight-bold title-card-dash">{{dashboard.regs}}</h3>
				</div>
			</a>
		</div>

		<div class="col-6 col-md-4 col-lg-3 col-xl-2 dashb-card">
			<a href="{{meus-dados.myLink}}">
				<div>
					<i class="fas fa-user-cog fa-5x"></i>
					<h3 class="font-16 text-center font-weight-bold title-card-dash">{{dashboard.myAccount}}</h3>
				</div>
			</a>
		</div>

		<div class="col-6 col-md-4 col-lg-3 col-xl-2 dashb-card">
			<a href="{{financeiro.myLink}}">
				<div>
					<i class="fas fa-hand-holding-usd fa-5x"></i>
					<h3 class="font-16 text-center font-weight-bold title-card-dash">{{dashboard.money}}</h3>
				</div>
			</a>
		</div>

		<div class="col-6 col-md-4 col-lg-3 col-xl-2 dashb-card">
			<a href="{{usuarios.myLink}}">
				<div>
					<i class="fas fa-users fa-5x"></i>
					<h3 class="font-16 text-center font-weight-bold title-card-dash">{{dashboard.users}}</h3>
				</div>
			</a>
		</div>

		<div class="col-6 col-md-4 col-lg-3 col-xl-2 dashb-card">
			<a href="{{configuracoes.myLink}}">
				<div>
					<i class="fas fa-cogs fa-5x"></i>
					<h3 class="font-16 text-center font-weight-bold title-card-dash">{{dashboard.settings}}</h3>
				</div>
			</a>
		</div>

	</div>
</div>
