<div class="container py-3">
	<div class="row w-100">

        <form action="" method="post" class="row w-100 formAlt">
        	<div class="col-3">&nbsp;</div>
            <div class="col-6">
            	<h2 class="w-100 font-24 text-center family-title-master mb-5">{{esqueci-minha-senha.pageTitle}}</h2>
                <input type="hidden" name="token" value="{%token%}">
                <div class="field">
                	<input type="email" id="email-input" name="email" placeholder=" " required>
                    <p class="label">{{esqueci-minha-senha.Email}}</p>
                </div>
                <div class="w-100 p-3 text-center">
                	<button>{{esqueci-minha-senha.btnLabel}}</button>
                </div>

            </div>
            <div class="col-3">&nbsp;</div>
        </form>
    </div>
</div>
