<div class="container my-5">
  <div class="row w-100">
    <div class="col-4">&nbsp;</div>
    <div class="col-4">
      <form class="w-100 formAlt" action="" method="post">
        <h2 class="family-title-master text-center font-16 mb-4">Acesso Controlado</h2>
        <div class="field">
          <input type="password" placeholder=" " name="senha" required/>
          <p class="label">Senha de Acesso</p>
        </div>
        <input type="hidden" name="token" value="{%token%}">
        <div class="w-100 text-center">
          <button>Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
